
var mySound = new buzz.sound( "https://s3.amazonaws.com/flatterbook/flatter-sound.wav")
var notificationCount = 0;
$('.post-button').focus();
$('.form-control').attr('disabled', true);
$('.form-control').addClass('disabled');

var incrimentCount = function(){
   notificationCount++;
   if(window.sound === true){
     mySound.play()};
   $('.notification-count').html(notificationCount)
   if(notificationCount == 1){
     $('.notification-count').show();
   }
}


$('.globe').on("click", function(){
    $('.notification-count').hide();
    notificationCount = 0;});
var i = 2;
var setCount = function () {
    setTimeout(function () {
        $('.count').html(i);
        i++;
        incrimentCount();
        $(".notifications-container").prepend("<div class= 'col-12 notification'><span class= 'random-name' style= 'font-weight: 500'>"+ Faker.Name.findName()+"</span><span> liked your post!</span></div></div>")
        setCount();


    }, ((Math.random() * 700)+500))
};


$(".status-text").html("<%= j @post%>");
$(".status-box").slideDown(500, function () {
    $(".like-box").slideDown(500, function () {
        setCount();
        

    });
    });
var y = 0;
var comments = $('.commenters-container').children('.row');
console.log(comments)
var showComments = function(){
  setTimeout(function(){
    $(comments[y]).slideDown();
    y++;
    incrimentCount();
    if(y != 10){  
    showComments();
    } else {
      $('.more-flatter').slideDown();
    }
  }, 2000);
};



setTimeout(function(){
  showComments();
}, 1000);




