// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-color: rgba(20, 53, 125, 1)

html
  margin: 0
  padding: 0
  overflow-x: hidden
body
  margin: 0
  padding: 0
  overflow-x: hidden
.notification-count
  color: black
  font-size: 0.8em
  background-color: white
  border-radius: 10px
  padding-left: 0.5em
  padding-right: 0.5em
  display: none
  &:hover
    text-decoration: none
    color: rgb(100, 50, 90)
.disabled
  &:hover
    cursor: default !important

.btn-primary
  background-color: $main-color !important

.notification
  border-bottom: 1px rgba(255, 255, 255, 0.4) solid
  padding-bottom: 0.5em
  padding-top: 0.5em
.notifications-container
  background-color: rgba(20, 53, 125, 0.2)
  height: 17.5em
  max-height: 17.5em
  overflow: auto !important

.sound-icon
  position: absolute
  left: 44%
  bottom: 1.2em
  cursor: pointer

.sound-icon2
  cursor: pointer
  margin-right: 5%
  position: relative
  top: 0.7em

.share
  margin-left: 1.5em

.twitter-share
  cursor: pointer

.tweet-button-modal
  display: none
  position: absolute

.animated-gif
  height: 15em
  margin-right: 0.9em
  
  margin-top: .9em
  margin-bottom: 1.4em
.globe
  cursor: pointer

.filter-choice
  cursor: pointer


#status-input
  box-shadow: none !important

  &:focus
    border-color: $main-color !important
    -webkit-box-shadow: none !important
    -moz-box-shadow: none !important
    box-shadow:  none !important
.filters
  background-color: rgba(0,0,0,0.70)
  margin-bottom: 25px
  color: white

  .col-3
    padding: 10px
    border-right: 1px solid rgba(255, 255, 255, 0.4)
    text-align: center
    &:hover
      background-color: rgba(0, 0, 0, 0.8)
    .glyphicon-user
      color: white
      border: none
.navbar
  margin-bottom: 0px !important
  border-bottom: 1px solid rgba(255, 255, 255, 0.4)
  background-color: $main-color !important

.jumbotron
  margin-bottom: 0.4em !important
  background-color: rgba(10, 43, 115, 0.1)

.row
  footer
    background-color: #64325a
.footer
  position: fixed !important
  bottom: 0
.status-box
  margin-top: 30px
  display: none
  padding: 0px
  padding-left: 0px
  background-color: rgba(10, 43, 115, 0.1)
.status-text-container
  padding: 7px
  padding-left: 15px
  padding-right: 10px
.egohead
  margin-top: 7px
  margin-bottom: 7px
.like-box
  background-color: rgba(10, 43, 115, 0.1)
  border-top: 1px solid white
  padding-top: 7px
  padding-bottom: 7px
.comment-box
  background-color: rgba(10, 43, 115, 0.1)
  border-top: 1px solid white
  padding-top: 10px
  padding-bottom: 10px

.commenter-image
  border-radius: 20p
  -webkit-border-radius: 20px
  -moz-border-radius: 20px

.commenters-container
  margin-bottom: 150px


.navbar-fixed-bottom
  background-color: $main-color
  min-height: 35px !important
  li
    a
      color: white !important
      padding: 5px !important

.lunarmayor
  font-weight: 400 !important

.active 
  background-color: rgba(0, 0, 0, 1)

.more-flatter
  margin-left: 20%
  margin-top: 2em

@media(min-width: 1200px)
  .jumbotron-content
    margin-left: 15%
  .animated-gif
    position: relative
    left: 4em
  .input-group
    margin-top: 1.5em !important

@media (min-width: 768px)
  .input-group
    margin-top: 1em !important
  .jumbotron
    margin-bot7om: 1.2em !important
  .sound-icon
    display: none
  .gif-container
    margin-left: 5% !important
  .tweet-button
    margin-left: 3em

@media(max-width: 380px)
  .animated-gif
    height: 13em
    margin-top: 1.5em
    position: relative
    right: 0.5em
  .status-text-container
    position: relative
    left: 1em
  #status-input
    font-size: 16px


